<!doctype html>
<html class="no-js" lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="">
  {% block head_scripts %}{% endblock %}
  <title>Salla theme</title>
  <link rel="stylesheet" href="{{ 'theme.css' | asset }}">
  {% hook 'head:start' %}
  {% hook head %}
  {% block styles %}{% endblock %}
  {% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden">
  {% hook 'body:start' %}
  {# <main role="main" id="main" class="anchor">
    {% block content %}{% endblock %}
    {% component 'footer.footer' %}
  </main> #}
  {% hook 'body:end' %}
  <script src="{{ 'theme.js' | asset }}" defer></script>
  {% block scripts %}{% endblock %}
</body>
</html>